# **VARIABLES AND DATA TYPES:**

In [ ]:
print('Pooja')

Pooja

In [ ]:
a = 10
b = 10
print(a+b)

20

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
c = "wer"
print(type(c))

<class 'str'>

In [ ]:
a = 10
b = 20
c = a+b
print(c)

30

In [ ]:
a = "10"
b = "20"
c = a+b
print(c)

1020

### **Casting: Converting one datatype into another datatype**

In [ ]:
a = int("10")
b = int("20")
c = a+b
print(c)

30

In [ ]:
a = input()
b = input()
c = a+b
print(c)

10
30
1030

In [ ]:
a = int(input())
b = int(input())
c = a+b
print(c)

10
30
40

In [ ]:
# Example Program:
Name = input()
Age = input()
print("My Name is :",Name)
print("My Age is :",Age)

Pooja Rajan
23
My Name is : Pooja Rajan
My Age is : 23

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = a*b*c
e = a+b+c
f = d/e
print(f)

10
20
30
100.0

In [16]:
Name = input()
Score = int(input())
Department = input()
print("My Name is :",Name)
print("My Score is :",Score/10,"/10")
print("My Department is :",Department)

ShreeDevi
9
Singing
My Name is : ShreeDevi
My Score is : 0.9 /10
My Department is : Singing